<div class="row p-2">
    <div class="col-1 p-2 ">
        <h4>Оглавление</h4>
        <hr/>
        <div>
            <div id="topicTree"></div>
        </div>

    </div>
    <div class="col-1"></div>
    <div id="placeHolderDiv" class="col-10 p-2 border-left">
        <h4>Выберете нужное оглавление слева</h4>
        <hr/>
    </div>
</div>