@model ProgrammingLearningTasks.Models.ProgrammingTasks.AddSolutionViewModel


<div class="container bg-light p-2 border rounded-3" style="word-wrap:break-word">
    <div class="text-center">
        <h3>Новое решение задачи</h3>
    </div>
    <form asp-action="AddSolution">
        <div class="form-group">
            <h5 class="fw-bold">Язык</h5>
            <input type="text" asp-for="LangName" class="form-control"/>
        </div>
        <br/>
        <div class="form-group">
            <h5 class="fw-bold">Описание</h5>
            <textarea asp-for="Text" style="height: 150px !important;" class="form-control"></textarea>
        </div>
        <br/>
        <div class="form-group">
            <h5 class="fw-bold">Код решения</h5>
            <textarea asp-for="Code" style="height: 250px !important;" class="form-control"></textarea>
        </div>
        <br/>
        <div class="form-group">
            <input type="submit" value="Добавить" class="form-control bg-myHeaderBg"/>
        </div>
        <input hidden asp-for="TaskId" value="@Model.TaskId"/>
    </form>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            
            $("#LangName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetProgrammingLanguagesLikeQuery")',
                        data: { "request": request.term },                
                        dataType: "json",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        }
                    });
                },
                minLength: 1
            });
        });
    </script>
}